.gray-box{
		background-color: #565656;
		font-size: 18px;
		color: #D1D1D1;
		opacity: .75;
		height:45px;
		width:100%; 
		text-align: center; 
		margin: 0;
		}
.sub-heads{
	color: #939393;
	margin-bottom: 5px;
	}
.lines{
	line-height: 1.4;
	margin-top: 0;
}
.lines li{
	padding-top: 10px;
}
